/* Стили для каталога цветов */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  text-align: left;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 10px 0;
  background-color: #ff3366;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

header::before {
  content: '';
  display: block;
  background-color: #ff3366;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 130%;
  z-index: -1;
}

header h1 {
  font-size: 24px;
  margin: 0;
  color: #ffffff;
  font-weight: bold;
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}

/* Стили для секции "Каталог" */
#catalog {
  padding: 20px;
    background-color: #FFC0CB;
}

#catalog h2 {
  font-size: 24px;
  margin-bottom: 20px; /* Уменьшил отступ снизу */
}

#product-list {
  list-style: none;
  padding: 0;
}

#product-list li {
  display: inline-block;
  width: 200px;
  margin: 10px;
  text-align: center;
}

#product-list img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

#product-list h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

#product-list p {
  font-size: 16px;
}

/* Стили для навигационного меню */
nav {
  position: relative;
  background-color: #ff3366;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #ff99b3;
}

/* Стили для заголовка и подвала */
footer {
  background-color: #FFC0CB;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: #666666;
  position: fixed; /* Изменил позиционирование на fixed */
  left: 0;
  bottom: 0;
  width: 100%; /* Изменил ширину на 100% */
}

footer p {
  margin: 0;
}

/* Общие стили */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}
::-webkit-scrollbar {
  width: 10px; /* Ширина полосы прокрутки */
}

::-webkit-scrollbar-thumb {
  background-color: #FFC0CB; /* Цвет полосы прокрутки */
}